html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: blue;
    //background:
    //    linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 14, 171,1) 35%, rgba(0, 212, 255, 1) 100%);
}

button {
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, .6);
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px 15px;
    transition: all 0.3s;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        background-color: #cbcbcb;
    }
}

.main {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}
.my-modal.show {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    display: none;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;

    .cancel-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #000;
        font-weight: 700;
        background: transparent;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.my-modal.show .modal {
    display: flex;
}

.title-wrapper {
    font-size: 1.5em;
}

.message-wrapper {
    text-align: center;
}

.title-wrapper,
.message-wrapper {
    margin-bottom: 15px;
}


